
<div style="top: 0; left: 0; right: 0; height: 60px; position: relative; ">
    <ul class="function-list">
        <li>
            <a href="https://evids.dfir.tips/" class="dfirtipsproject" style="font-size: 20px; {% if site.dfirurl contains 'evids' %}background-color: #d6eaf8;{%endif%}">Evids</a>
        </li>
        <li>
            <a href="https://winprocs.dfir.tips/" class="dfirtipsproject" style="font-size: 20px; {% if site.dfirurl contains 'winprocs' %}background-color: #d6eaf8;{%endif%}">WinProcs</a>
        </li>
    </ul>
</div>

